
img{
    max-width: 100%;
}

.card-img-top {
    width: 120px;
    height: 120px;
}

.custom-btn {
    background-color: teal;
    color: white;
}

@media only screen and (max-width: 768px) {
    .custom-img {
        margin: 200px;
        height: 100%;
        width: 100%;
    }
}