<div class="row mx-auto">
    <div class="col-12 text-center p-0 d-flex align-items-center justify-content-center">
        <img class="custom-img" src="../../../assets/static/night-street-city-high-quality-1080P-wallpaper.jpg" alt="Sity">
        <div class="position-absolute text-white">
            <h1 class="text-uppercase font-weight-bold my-auto mx-auto">Rent rooms, see informations<br> in most hotels in the county...
            </h1>
            <button class="btn custom-btn" routerLink="/about">More info</button>
        </div>
    </div>
</div>

<div class="row my-3 mx-3 text-center align">
    <div class="card col-md-4 col-sm-6 bg-light shadow align-items-center">
        <img class="mt-2 card-img-top img-thumbnail rounded-circle" src="../../../assets/static/logo-2144403_1280.png">
        <div class="card-body">
            <h5 class="card-title">Why us?</h5>
            <p class="card-text text-info">Communication, efficiency, convenience...</p>
        </div>
    </div>

    <div class="card col-md-4 col-sm-6 bg-light shadow align-items-center">
        <img class="mt-2 card-img-top img-thumbnail rounded-circle" src="../../../assets/static/Free-City.jpg">
        <div class="card-body">
            <h5 class="card-title">News</h5>
            <a class="card-link" href="#">See news...</a>
        </div>
    </div>

    <div class="card col-md-4 col-sm-6 mx-auto bg-light shadow align-items-center">
        <img class="mt-2 card-img-top img-thumbnail rounded-circle"
            src="../../../assets/static/Map-Locator.jpg" alt="Card image">
        <div class="card-body">
            <h5 class="card-title">Maps</h5>
            <a class="card-link" href="#">See maps...</a>
        </div>
    </div>
</div>