<div style="margin-bottom: 250px;">
    <form class="form-group d-md-table container col-md-3 col-6" (ngSubmit)="addBuilding(buildingToAdd)">
        <label for="building-name">Name </label>
        <input class="form-control" name="building-name" type="text" [(ngModel)]="buildingToAdd.name"
            placeholder="Name">
        <label for="building-floors">Floors </label>
        <input class="form-control" name="building-floors" type="number" [(ngModel)]="buildingToAdd.floors"
            placeholder="Floors">
        <input class="form-control btn btn-primary mt-2 mb-5" type="submit" value="Add">
    </form>
</div>