<br>
<div class="table-responsive-sm">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Code</th>
                <th>Current floor</th>
                <th>Floors left</th>
                <th>Working</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let elevator of elevators">
                <td>{{elevator.id}}</td>
                <td>{{elevator.code}}</td>
                <td>{{elevator.currentFloor}}</td>
                <td>{{elevator.floorsLeft}}</td>
                <td>{{elevator.working}}</td>
                <td><button class="btn btn-outline-info mr-md-2" (click)="editElevator(elevator)">Edit</button>
                <button class="btn btn-danger mr-md-2" (click)="deleteElevator(elevator.id)">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
<button *ngIf="isAdministrator" class="btn btn-primary mb-5 shadow-lg" routerLink="./add">Add new elevator</button>

