<div class="col-md-3 col-6 container my-5 pt-5" style="padding-bottom: 200px;">
    <h3>Sign in</h3>

    <form class="form-group" (ngSubmit)="login()">
        <label for="username">Username </label>
        <input class="form-control" type="text" id="username" name="username" [(ngModel)]="user.username"
            placeholder="Username" required autofocus>
        <label for="inputPassword">Password </label>
        <input class="form-control" type="password" id="inputPassword" name="username" [(ngModel)]="user.password"
            placeholder="Password" required>
        <button class="btn btn-primary btn-block mt-2" type="submit">Sign in</button>
    </form>
    <br>
    <div *ngIf=wrongUsernameOrPass role="alert">
        Wrong username or password.
    </div>
</div>