<form class="form-inline mb-5" (ngSubmit)="search()">
    <input class="form-control col-sm-4 col-6" type="text" id="search-by-name" name="search-by-name" [(ngModel)]="searchTerm" placeholder="Building name">
    <input class="form-control col-sm-2 col-3 btn btn-outline-dark" type="submit" value="Search">
    <button class="form-control col-sm-2 col-3 btn-outline-primary" type="button" (click)="reset()">Reset</button>
</form>
