<form class="form-inline mb-5" (ngSubmit)="filter()">
    <input class="form-control col-sm-4 col-6" type="number" id="search-by-code" name="search-by-code" [(ngModel)]="code" placeholder="Elevator code">
    <label class="ml-2 mr-2" for="search-by-working">Working: </label>
    <input class="form-control mr-2" type="checkbox" name="search-by-working" [(ngModel)]="working" placeholder="Working">
    <input class="form-control col-sm-2 col-3 btn btn-outline-dark" type="submit" value="Search">
    <button class="form-control col-sm-2 col-3 btn-outline-primary" type="button" (click)="reset()">Reset</button>
</form>
