<div style="margin-top: 250px;">
    <form class="form-group my-5 py-5" (ngSubmit)="postComment()">
        <h1>Leave a Reply</h1>
        <input  class="form-control" type="text" [(ngModel)]="newComment.nickname" name="input-nickname" placeholder="Enter a nickname...">
        <textarea class="form-control" rows="5" [(ngModel)]="newComment.content" name="input-comment" placeholder="Type a comment here.."></textarea>
        <input class="btn btn-success float-right mb-5 mt-2" type="submit" value="Post comment">
    </form>
</div>

<div *ngFor="let comment of comments" class="card">
    <div class="card-header font-weight-bold">{{comment.nickname}}</div>
    <div class="card-body">{{comment.content}}</div>
    <div class="card-footer"><button (click)="likeComment(comment)" class="fas fa-thumbs-up"></button>{{comment.likes}} <button (click)="dislikeComment(comment)" class="fas fa-thumbs-down" style="color: red;"></button>{{comment.dislikes}}</div>
</div>