<div class="col-md-3 col-6 container my-5 py-5">
    <h3>Register</h3>

    <form class="form-group" (ngSubmit)="register()">
        <label for="firstName">First name </label>
        <input class="form-control" type="text" id="firstName" name="firstName" [(ngModel)]="user.firstName"
            placeholder="First name" required autofocus>
        <label for="lastName">Last name </label>
        <input class="form-control" type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName"
            placeholder="Last name" required>
        <label for="username">Username </label>
        <input class="form-control" type="text" id="username" name="username" [(ngModel)]="user.username"
            placeholder="Username" required>
        <label for="inputPassword">Password </label>
        <input class="form-control" type="password" id="inputPassword" name="inputPassword" [(ngModel)]="user.password"
            placeholder="Password" required>
        <button class="btn btn-primary btn-block mt-2" type="submit">Register</button>
    </form>
    <br>
    <div *ngIf="usernameExists" role="alert">
        This username alredy exits, try another.
    </div>
</div>