<div class="container-fluid pt-5 mt-5" style="padding-bottom: 300px;">
    <div class="row justify-content-between">
        <div class="float-left ml-3 col-md-8">
            <app-filter (setWorking)="setWorking($event)" (setCode)="setCode($event)"></app-filter>
            <ul class="pagination float-right">
              <li class="page-item"> <a class="page-link" disabled="page <=0" (click)="prevPage()">Prev</a></li> 
              <li class="page-item"> <a class="page-link" disabled="page <=0" (click)="callPage(0)">1</a></li>
              <li class="page-item"> <a class="page-link" disabled="page <=0" (click)="callPage(1)">2</a></li>
              <li class="page-item"> <a class="page-link" disabled="page <=0" (click)="callPage(2)">3</a></li>
              <li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
            </ul>
        </div>
        <app-elevator-list class="col-md-9" [isAdministrator]="isAdministrator" *ngIf="isAdministrator"
            [elevators]="elevators" (elevatorToDelete)="deleteElevator($event)"
            (markElevatorForEditing)="setActiveElevator($event)">
        </app-elevator-list>
        <app-edit-elevator class="pt-md-3 pr-md-3 col-md-3 col-6 container-sm" [isAdministrator]="isAdministrator" *ngIf="isAdministrator" class="pt-md-3 pr-md-3 col-md-3"
            [elevatorToEdit]="activeElevator" (elevatorEdited)="editElevator($event)"></app-edit-elevator>
    </div>
</div>