<div style="margin-bottom: 200px;">
    <form class="form-group d-md-table container col-md-3 col-6" (ngSubmit)="addElevator(elevatorToAdd)">
        <label for="elevator-code">Code </label>
        <input class="form-control" name="elevator-code" type="number" [(ngModel)]="elevatorToAdd.code"
            placeholder="Code">
        <label for="elevator-current-floor">Current floor</label>
        <input class="form-control" name="elevator-current-floor" type="number" [(ngModel)]="elevatorToAdd.currentFloor"
            placeholder="Current floor">
        <label for="elevator-floors-left">Floors left</label>
        <input class="form-control" name="elevator-floors-left" type="number" [(ngModel)]="elevatorToAdd.floorsLeft"
            placeholder="Floors left">
        <label for="elevator-working">Working</label>
        <input class="ml-3" name="elevator-working" type="checkbox" [(ngModel)]="elevatorToAdd.working">
        <input class="form-control btn btn-primary mt-2 mb-5" type="submit" value="Add">
    </form>
</div>