<div class="container-fluid pt-5 mt-5" style="padding-bottom: 300px;">
    <div class="row">
        <div class="float-left ml-3 col-md-8">
            <app-search (setSearchTerm)="search($event)"></app-search>
            <ul class="pagination float-right">
              <li class="page-item"> <a class="page-link" disabled="page <=0" (click)="prevPage()">Prev</a></li> 
              <li class="page-item"> <a class="page-link" disabled="page <=0" (click)="callPage(0)">1</a></li>
              <li class="page-item"> <a class="page-link" disabled="page <=0" (click)="callPage(1)">2</a></li>
              <li class="page-item"> <a class="page-link" disabled="page <=0" (click)="callPage(2)">3</a></li>
              <li class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
            </ul>
            <app-building-list [isAdministrator]="isAdministrator" [buildings]="buildings"
                (markBuildingForEditing)="setActiveBuilding($event)" (buildingToDelete)="deleteBuilding($event)"
                [isLoggedIn]="isLoggedIn" (markBuildingIdForElevatorForRiding)="setBuildingIdForElevatorRiding($event)">
            </app-building-list>
        </div>
        <app-edit-building class="mr-md-3 pt-md-3 col-md-3 col-6 container-sm" *ngIf="isAdministrator"
            (buildingEdited)="editBuilding($event)" [buildingToEdit]="activeBuilding"></app-edit-building>
    </div>
    <app-ride-elevator *ngIf="isLoggedIn" [buildingId]="activeBuildingId" (elevatorRided)="rideElevator($event)">
    </app-ride-elevator>
    <app-comment-list [comments]="comments" (commentLiked)="likeComment($event)" (commentDisliked)="dislikeComment($event)"
    (commentPosted)="postComment($event)"></app-comment-list>
</div>