<form class="form-inline pt-3" (ngSubmit)="rideElevator()">
    <label for="building-id">Building id </label>
    <input class="form-control mr-md-3 mr-2 ml-2 col-md-1 col-2" name="building-id" type="number" [(ngModel)]="buildingId" placeholder="id">
    <label for="start-floor">Start </label>
    <input class="form-control mr-md-3 mr-2 ml-2 col-md-1 col-2" name="start-floor" type="number" [(ngModel)]="elevatorToRide.startFloor" placeholder="Start floor">
    <label for="end-floor">End </label>
    <input class="form-control ml-2 mr-md-2 col-md-1 col-2" name="end-floor" type="number" [(ngModel)]="elevatorToRide.endFloor" placeholder="End floor">
    <input class="form-control btn custom-btn col-md-2 mt-2 mt-sm-0 shadow-lg" type="submit" value="Ride">
</form>