<br>
<div class="table-responsive-sm">
<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Floors</th>

            <th *ngIf="isLoggedIn">Ride elevator</th>

            <th *ngIf="isAdministrator">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let building of buildings">
            <td>{{building.id}}</td>
            <td>{{building.name}}</td>
            <td>{{building.floors}}</td>

            <td><button *ngIf="isLoggedIn" class="btn btn-outline-dark" (click)="rideElevator(building.id)">Ride
                    elevator</button></td>

            <td><button *ngIf="isAdministrator" class="btn btn-outline-dark mr-md-2"
                    [routerLink]="[building.id, 'elevators']">Show elevators</button>
                <button *ngIf="isAdministrator" class="btn btn-outline-info mr-md-2"
                    (click)="editBuilding(building)">Edit</button>
                <button *ngIf="isAdministrator" class="btn btn-danger mr-md-2"
                    (click)="deleteBuilding(building.id)">Delete</button></td>
        </tr>
    </tbody>
</table>
</div>
<button *ngIf="isAdministrator" class="btn btn-primary mb-5 shadow-lg" routerLink="/buildings/add">Add new building</button>
