/* You can add global styles to this file, and also import other style files */
body {
    background: url(assets/static/Background-website-01.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;     
    -moz-background-size: cover;    
    -o-background-size: cover;    
    background-size: cover;
}
html {
    min-height: 100%;
}
.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
    /* height: 130px;
    bottom: 0;
    position: absolute;
    min-width: 100%;
    margin-bottom: 0; */
}


