<nav class="navbar navbar-expand-sm fixed-top navbar-dark shadow-lg" style="background-color: darkcyan;">
  <a class="navbar-brand" href="#">
    <img class="rounded-circle" style="height: 40px;" src="../assets/static/logo-2144403_1280.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/buildings">Buldings</a>
      </li>
    </ul>
    <ul class="nav navbar-nav pull-right mr-5">
      <li *ngIf="isLoggedIn()" class="nav-item">
        <a (click)="logOut()" class="nav-link">Logout</a>
      </li>
      <li *ngIf="!isLoggedIn()" class="nav-item d-md-flex">
        <a routerLink="/login" class="nav-link">Login</a>
        <a routerLink="/register" class="nav-link">Register</a>
      </li>
    </ul>
  </div>
</nav>
       
<router-outlet></router-outlet>