<div class="d-table justifly-content-center mx-auto">
        <h4>Choose elevator to edit...</h4>
        <br>
        <form class="form-group" (ngSubmit)="editElevator()">
            <label for="elevator-id">Id</label>
            <input class="form-control col-md-12" name="elevator-id" type="text" [(ngModel)]="elevatorToEdit.id"
                disabled placeholder="Id">
            <label for="elevator-code">Code </label>
            <input class="form-control col-md-12" name="elevator-code" type="number"
                [(ngModel)]="elevatorToEdit.code" placeholder="Code">
            <label for="elevator-current-floor">Current floor </label>
            <input class="form-control col-md-12" name="elevator-current-floor" type="number"
                [(ngModel)]="elevatorToEdit.currentFloor" placeholder="Current floor">
            <label for="elevator-floors-left">Floors left </label>
            <input class="form-control col-md-12" name="elevator-floors-left" type="number"
                [(ngModel)]="elevatorToEdit.floorsLeft" placeholder="Floors Left">
            <input class="btn btn-info form-control col-md-12 mt-2 shadow-lg" type="submit" value="Edit">
        </form>
</div>