<h4>Choose building to edit...</h4>
<br>
<form class="form-group" (ngSubmit)="editBuilding()">
    <label for="building-id">Id </label>
    <input class="form-control" name="building-id" type="text" [(ngModel)]="buildingToEdit.id" placeholder="Id"
        disabled>
    <label for="building-name">Name </label>
    <input class="form-control" name="building-name" type="text" [(ngModel)]="buildingToEdit.name" placeholder="Name">
    <label for="building-floors">Floors </label>
    <input class="form-control" name="building-floors" type="text" [(ngModel)]="buildingToEdit.floors"
        placeholder="Floors">
    <input class="btn btn-info form-control mt-2 shadow-lg" type="submit" value="Edit">
</form>